<!DOCTYPE html>
<html lang="en">
        {% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static  "images/icons/favicon.ico" %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static  "vendor/bootstrap/css/bootstrap.min.css" %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static  "fonts/font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static  "fonts/Linearicons-Free-v1.0.0/icon-font.min.css" %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static  "vendor/animate/animate.css" %}">
    <!--===============================================================================================-->	
        <link rel="stylesheet" type="text/css" href="{% static  "vendor/css-hamburgers/hamburgers.min.css" %}">
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static  "vendor/select2/select2.min.css" %}">
    <!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static  "css/util.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static  "css/style.css" %}">
    <!--===============================================================================================-->
    <title>Inicio :: Compras</title>
</head>
<body>
        <div class="limiter">
            
                <div class="container-main">
                        <div class="header">
                            <h2><span class="lnr lnr-cart"></span>GlobalShop</h2>
                            <div class="menu">
                                <a href="/">Inicio</a>
                                <a href="/lists/">Mis listas</a>
                                <a href="/products/">Mis productos</a>
                                <a href="/shopping/">Comprar</a>
                                <a href="/cerrarsesion/">Cerrar sesión</a>
                            </div>
                        </div>
                        <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30 shop-container">
                            <img class="header-image" src="{% static  "images/shop-header.png" %}">
                            <span class="login100-form-title p-b-55">
                               Mis Productos
                            </span>
                            {% if tienda %}
                            <div class="actions">
                                    <a href="/products/create/" class="btn btn-primary">Nuevo producto</a>
                            </div>
                            {% for i in products %}
                            <article>
                                    <div class="row">
                                        <div class="col-lg-3">
                                            <img src='http://placehold.it/200x200'>
                                        </div>
                                        <div class="col-lg-9">
                                            <h4>{{i.name}}</h4>
                                            <h6>$ {{i.price}}</h6>
                                            <p>
                                                    {{i.description}}
                                            </p>
                                            <div class="actions">
                                                <a href="/products/delete/{{i.pk}}" class="btn btn-danger">Eliminar</a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </article>
                            {% endfor %}
                            {% else %}
                            <div class="actions">
                                    <a href="/shops/create/" class="btn btn-primary">Nueva tienda</a>
                            </div>
                            {% endif %}
                            
                            </div>
                </div>
            </div>
    <!--===============================================================================================-->	
	<script src="{% static  "vendor/jquery/jquery-3.2.1.min.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static  "vendor/bootstrap/js/popper.js" %}"></script>
        <script src="{% static  "vendor/bootstrap/js/bootstrap.min.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static  "vendor/select2/select2.min.js" %}"></script>
    <!--===============================================================================================-->
        <script src="{% static  "js/main.js" %}"></script>
</body>
</html>